<%= render "./partials/subheader" %>

<div class="row topics">
<%= render "./partials/sidebar" %>
  <div class="col-md-8 main-content topic-menu">
    <h3>Create a new Bookmark</h3>
    <%= render "./partials/bookmark_form" %>
  </div>
</div>

<%= render "./partials/footer" %>
