.row.devise-pages
  .col-md-offset-7.col-md-4.devise-modal
    .modal-title
      h2
        | Resend Confirmation Instructions
      hr
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      .field
        span
          = f.email_field :email, placeholder: "Email", autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
      .actions
        = f.submit "Resend"
    .devise-partials
      = render "devise/shared/links"
      = render "partials/devise_flash"
= render "partials/footer"
