<%= render "./partials/subheader" %>

  <div class="row landing">
    <div class="col-md-3 sidebar">
      <h1>Side Content Here</h1>
    </div>
    <div class="col-md-9 main-content">
      <h1>Share your favorite bookmarks online.</h1>
      <h1>See what others have bookmarked.</h1>
    </div>
  </div>

  <%= render "./partials/footer" %>
