<%= render "./partials/subheader" %>

  <div class="row landing">
    <div class="col-md-3 sidebar">
      <h1>Side Content Here</h1>
    </div>
    <div class="col-md-9 main-content">
      <% @topics.each do |topic| %>
        <ul class="list-group">
          <li class="list-group-item justify-content-between">
            <%= topic.title %>
            <span class="badge badge-default badge-pill"><%= rand(1..35) %></span>
          </li>
        </ul>
        <% end %>
    </div>
  </div>

  <%= render "./partials/footer" %>
