= render "./partials/subheader"
.row.topics
  = render "./partials/sidebar"
  .col-md-8.main-content
    - @topics.each do |topic|
      ul.list-group
        li.list-group-item.justify-content-between
          .item-info
            h4
              = link_to topic.title, topic_path(topic.id)
            p
              = "#{rand(1..35)} bookmarks by #{rand(1..35)} users"
          .item-options
            = button_to "Add Bookmark", new_topic_bookmark_path(topic.id), method: :get, class: "btn options"
            hr.h-divider
            = button_to "Delete Topic", topic_path(topic.id), method: :delete, class: "btn options danger", data: {confirm: "Delete this topic?"}
= render "./partials/footer"
