.col-md-4.sidebar
  .sidebar-title
    = render "/partials/notices"
    h3
      = "#{current_user.username.capitalize}'s Scavenger Stats:"
    hr
  .sidebar-stats
    h3
      = "#{Topic.count} Topics"
    h3
      = "#{Bookmark.count} Bookmarks"
    h3
      = "#{Like.count} Bookmarks Liked"
    
