<div class="col-md-3 sidebar">
  <div class="sidebar-title">
    <h3><%= "#{current_user.username.capitalize}'s Chatter Stats:" %></h3><hr />
  </div>
  <div class="sidebar-stats">
    <h3>12 Topics</h3>
    <h3>65 Bookmarks</h3>
  </div>
  <div class="sidebar-title">
    <h3>Chatter Favorites:</h3><hr />
  </div>
  <div class="sidebar-stats" >
    <h3>34 Topics</h3>
    <h3>104 Bookmarks</h3>
  </div>
</div>
