/*
 *= require_tree .
 *= require_self
 */


// Site Color Scheme:
// rgb(57,62,65) : dark grey
// rgb(94,101,114) : med grey
// rgb(197,197,197) : light grey
// rgb(147,183,190) : light blue
// rgb(89,172,140) : med green
// rgb(133,90,92) : light red
// rgb(102,16,31) : dard red



@import "bootstrap-sprockets";
@import "bootstrap";

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), image-url('landing_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.container-fluid {
  position: relative;
  min-height: 100%;
  padding: 0;
}

.main-page {
  h1 {
    font-size: 4.25rem;
  } a.button {
    text-decoration: none;
    font-size: 2.75rem;
    padding: 1.25rem;
    margin: 1rem;
    border: .5px solid white;
    border-radius: 5%;
  }
  color: white;
  text-align: center;
  font-family: 'Josefin Sans', monospace;
}

.main-page.text {
  margin-top: 8rem;
}

.main-page.login {
  margin-top: 8rem;
  text-align: center;
}

.main-page .field {
  color: black;
}

.row .landing {
  position: relative;
  min-height: 100vh;
  display:table;
}

.sidebar,.main-content {
  height: 100vh;
  display: table-cell;
  vertical-align: top;
}

.sidebar {
  border-right: 1px solid black;
}
