@import "bootstrap-sprockets";
@import "bootstrap";
@import 'imports/variables';

.row.devise-pages {
  height: 90vh;
}

.devise-modal {
  @include devise-modal;
}

.devise-modal-large {
  @include devise-modal;
  padding-top: 1%;
  height: 70vh;
}

.modal-title {
  hr {
    width: 45%;
  }
}

.field {
  margin: 2rem auto;
  span {
    color: black;
  }
}

.actions {
  @include actions-landing;
}

.devise-partials {
  margin-top: 2rem;
  font-size: 105%;
}

a.devise-links {
  color: $green-links;
}

a.devise-links:hover {
  text-decoration: none;
  color: rgba(192, 214, 223, .8);
}
