@import 'imports/variables';


.row.topics{
  background-color: $background-fill;
  height: 100%;
}

.col-md-4.sidebar {
  padding-right: 0;

  .sidebar-title {
    text-align: center;
    margin-top: 3%;
  }
  .sidebar-stats {
    width: 65%;
    margin: 0 auto;
  }

  hr {
    width: 80%;
  }
}

.col-md-8.main-content {
  padding-left: 0;
  border-left: 1px solid $background-transparent;

  ul,
  li.list-group-item {
    margin: 0;
    background-color: $background-fill-opaque;
    border-radius: 0%;
    border-bottom: 1px solid $background-transparent;
  }
}

.col-md-8.main-content.topic-menu {
  text-align: center;
}

.form-group {
  width: 65%;
  margin: 0 auto;
  text-align: left;
}
