// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  position: relative;
  height: 100%;
}

.text-intro {
  text-align: center;
  margin-top: 15%;
}
